@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300&family=Titillium+Web&display=swap');
* {
  background-color: #252B39;
}
iframe{
  text-align:center;
  width:100%;
}
.skillsh{
  color: #DAF9C3;
  font-family: 'Josefin Sans', sans-serif !important;
  font-weight: 300 !important;
  text-align: center;
  margin-top: 100px;
  
}